---
const questions = await Astro.glob('../pages/_faq/*.md');
---
<h2 class="mb-6 text-3xl font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl">Frequently asked questions</h2>
<div class="max-w-screen-sm lg:max-w-screen-md mx-auto">
    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white text-gray-900" data-inactive-classes="text-gray-500">
        {questions.map((question, idx) => (
            <h3 id={`accordion-flush-heading-${idx}`}>
                <button type="button"
                        class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-900 bg-white border-b border-gray-200"
                        data-accordion-target={`#accordion-flush-body-${idx}`}
                        aria-expanded={(idx > 0) ? 'false' : 'true'}
                        aria-controls={`accordion-flush-body-${idx}`}
                >
                    <span>{question.frontmatter.title}</span>
                    <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </h3>
            <div id={`accordion-flush-body-${idx}`}
                    class={(idx > 0) ? 'hidden' : ''}
                    aria-labelledby={`accordion-flush-heading-${idx}`}>
                <div class="py-5 border-b border-gray-200">
                    <article class="mb-2 prose max-w-none">
                        <question.Content/>
                    </article>
                </div>
            </div>
        ))}
    </div> 
</div>